body {
    background-image: url("../images/bg.jpg");
    background-repeat: repeat;
}


h1 {
    color: blueviolet;

    text-align: center;
    padding-top: 15px;
}

h2 {
    background-color: grey;
    text-align: center; 
    height: 70px;
    padding: 10px;
    margin: 20px auto 20px auto;
    color:white;
}

h3{
font-size: 20px;
}

h5{
    text-align: center;
    color: green;
}
.container{
    margin: 10% auto;
    padding-bottom: 50px;

}
#iderrors {
    color: red;
}

#idFinal {
    color: green;
}
#idFail{
    text-align: center;
    color: red;
}

#idimg{
    width: 150px;
    height: 200px;
}

#idtheword{
    margin-top: 10px;
    color:blue;
    font-size: 50px;
}
#play{
    align-content: center;
}